body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

body input {
  padding: 10px;
  outline: none;
  border-radius: 10px;
  width: 50%;
  border: 1px solid black;
}

body input.fail {
  border-color: red;
}

body input.success {
  border-color: green;
}
body input.loading {
  border-color: blue;
}

body > div {
  margin-top: 10px;
  padding: 10px;
}

body i {
  animation: rotate 3s linear;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
